<div class="order-page">
    <div class="order-list" id="orderList">
    </div>
    <div class="pagination-bar">
        <span id="paginationInfo"></span>
        <div class="pagination-btns" id="pagination"></div>
    </div>
</div>