<section class="wallet-section">

    <!-- Back Button -->
    <div class="back-link">
        <a href="/user/profile">
            <i class="fas fa-arrow-left"></i> Back to Account
        </a>
    </div>


    <div class="wallet-container">

        <!-- Wallet Balance -->
        <div class="wallet-card">

            <div class="wallet-info">
                <h3>Current Wallet Balance</h3>
                <h1>₹ <span id="balance">0</span></h1>
            </div>

            <button class="add-btn" id="addMoneyBtn">
                <i class="fa-solid fa-plus"></i> Add Money
            </button>

        </div>

        <!-- Transactions -->
        <div class="transactions">

            <h2>Transaction History</h2>

            <div id="transactionList">
                
            </div>

        </div>

    </div>

</section>