<section class="wishlist-page">

  <!-- HEADER -->
  <div class="wishlist-header">
    <h2>My Wishlist</h2>
    <span class="item-count">
      <%= products.length %> items
    </span>
  </div>
  <% if(products.length===0){ %>
    <div class="empty-wishlist">
      <p>Your wishlist is empty</p>
    </div>
    <% }else{ %>
      <!-- WISHLIST GRID -->
      <div class="wishlist-grid">

        <!-- CARD -->
        <% products.forEach((product)=>{ %>
          <div class="wishlist-card">
            <button class="remove-btn">×</button>

            <div class="product-img"></div>

            <div class="product-info">
              <h4>Premium Sports Jersey</h4>
              <p class="variant">Size: L</p>
              <p class="price">₹1,299</p>
            </div>

            <button class="cart-btn">Add to Cart</button>
          </div>
          <%})%>
      </div>
      <%}%>



</section>