<section class="wishlist-page">

  <!-- HEADER -->
  <div class="wishlist-header">
    <h2>My Wishlist</h2>
    <span class="item-count">
      <span id="items-count">0</span> items
    </span>
  </div>
  <div class="empty-wishlist">
    <p>Your wishlist is empty</p>
  </div>
  <div class="wishlist-grid">

  </div>



</section>