<div class="account-container">

  <aside class="account-sidebar">
    <%- include('../partials/profile-sidebar') %>
  </aside>

  <main class="account-content">
    <%- include(view) %>
  </main>

</div>
