<section class="body">
  <div class="container">
    <div class="icon">!</div>

    <h1>Feature Not Available</h1>
    <p>We’re sorry, but this feature is currently not available. We’re working hard to bring you the best experience possible.</p>
    <button class="btn" onclick="window.location.href='index.html'">Go to Homepage</button>
  </div>
</section>