<main class="account-section">
  <section class="password-card">
    <h3 class="card-heading">New Password</h3>

    <!-- ERROR MESSAGE -->
    <div class="error-box" id="error-box">
      <i class="fa-solid fa-circle-exclamation"></i>
      <span id="errorText">
      </span>
    </div>

    <div class="password-form">
      <!-- Password -->
      <div class="form-group">
        <label for="password">New password <span>*</span></label>
        <div class="password-wrapper">
          <input type="password" id="password" name="password" placeholder="Enter your new password" />
          <i id="togglePassword" class="fa-solid fa-eye"></i>
        </div>
      </div>

      <!-- Confirm Password -->
      <div class="form-group">
        <label for="confirm-password">Confirm password <span>*</span></label>
        <div class="password-wrapper">
          <input type="password" id="confirm-password" name="confirmPassword" placeholder="Confirm your password" />
          <i id="toggleConfirmPassword" class="fa-solid fa-eye"></i>
        </div>
      </div>

      <!-- Confirm Button -->
      <button type="button" class="confirm-btn" onclick="newPass()">Confirm</button>

      <!-- Already Have Account -->
      <p class="login-text">
        Remember your password?
        <a href="/login">Login here</a>
      </p>
    </div>
  </section>
</main>