<main class="account-section">
    <section class="password-card">
      <h3 class="card-heading">New Password</h3>

      <!-- ERROR MESSAGE -->
    <% if (error) { %>
      <div class="error-box">
        <i class="fa-solid fa-circle-exclamation"></i>
        <span>
          <%= error %>
        </span>
      </div>
      <% } %>

      <form action="/newpassword" method="POST" class="password-form">
        <!-- Password -->
        <div class="form-group">
          <label for="password">New password <span>*</span></label>
          <input type="password" id="password" name="password" placeholder="Enter your new password" />
        </div>

        <!-- Confirm Password -->
        <div class="form-group">
          <label for="confirm-password">Confirm password <span>*</span></label>
          <input type="password" id="confirm-password" name="confirmPassword" placeholder="Confirm your password" />
        </div>

        <!-- Confirm Button -->
        <button type="submit" class="confirm-btn">Confirm</button>

        <!-- Already Have Account -->
        <p class="login-text">
          Already have an account?
          <a href="/login">Login here</a>
        </p>
      </form>
    </section>
  </main>