<main class="account-section">
  <section class="login-card">
    <h3 class="login-heading">
      <%= title === 'Email SignUp' ? 'Register' : 'Forgot Password' %>
    </h3>
    <p class="otp-text">
      <%= title === 'Email SignUp' ? 'Enter your email to get started — we’ll send you an OTP for account creation.' : 'To reset your password, please verify your email address.' %>
    </p>

    <!-- ERROR MESSAGE -->
      <div class="error-box" id="signUpError" style="display: none;">
        <i class="fa-solid fa-circle-exclamation"></i>
        <span id="signUpErrorText">
        </span>
      </div>

        <div class="login-form">


          <!-- Email -->
          <div class="form-group">
            <label for="email">Email <span>*</span></label>
            <input type="email" id="email" name="email" placeholder="Enter your email" />
          </div>

          <!-- Privacy -->
          <a href="">
            <p class="privacy">privacy policy</p>
          </a>

          <!-- Register Button -->
          <button type="button" onclick="getMail()" class="login-btn">
            Confirm
          </button>

          <!-- Already Have Account -->
          <% if (title==="Email SignUp" ) { %>
            <p class="register-text">
              Already have an account?
              <a href="/login">Login here</a>
            </p>
            <% } %>
        </div>
  </section>
</main>