<section class="product-coupon-section">

    <!-- Header -->
    <div class="coupon-header">
        <div>
            <h2>Coupons</h2>
            <p>Manage product and category discount coupons</p>
        </div>

        <button class="create-coupon-btn">
            <i class="bi bi-plus"></i> Create Coupon
        </button>
    </div>


    <!-- Filters Row -->
    <div class="coupon-filters">

        <!-- Search -->
        <div class="filter-group search-group">
            <input type="text" id="searchInput" placeholder="Search coupon name or product...">
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
        </div>

        <!-- Status Filter -->
        <div class="filter-group">
            <select id="statusFilter">
                <option value="">All Status</option>
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
            </select>
        </div>

        <button class="submit-btn" id="filter-apply" type="button" onclick="applyFilters()">Apply</button>
        <button class="clear-btn" id="filter-reset" type="button" onclick="resetFilters()">Clear</button>

    </div>


    <!-- Table Card -->
    <div class="coupon-table-card">
        <table class="coupon-table">
            <thead>
                <tr>
                    <th>Coupon Name</th>
                    <th>Coupon Type</th>
                    <th>Discount</th>
                    <th>Expiry Date</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody id="couponTableBody">


            </tbody>
        </table>
        <div class="pagination">

        </div>
    </div>

</section>

<!-- coupon delete conformation modal -->
<div class="modal-overlay" id="deleteCouponModal">

    <div class="modal-container delete-modal">

        <div class="modal-header">
            <h3>Delete Coupon</h3>
            <button class="close-modal" id="closeDeleteModalBtn">&times;</button>
        </div>

        <div class="delete-content">
            <i class="fa-solid fa-triangle-exclamation warning-icon"></i>
            <p>Are you sure you want to delete this coupon?</p>
            <span>This action cannot be undone.</span>
        </div>

        <div class="modal-actions">
            <button type="button" class="cancel-btn" id="cancelDeleteBtn">
                Cancel
            </button>
            <button type="button" class="delete-confirm-btn" id="confirmDeleteBtn">
                <i class="fa-solid fa-trash"></i> Delete
            </button>
        </div>

    </div>
</div>