<div class="orders-container">

    <!-- Header -->
    <div class="orders-header">
        <h2>Orders</h2>
        <p>Track and manage customer orders</p>
    </div>

    <!-- Filters -->
    <div class="filters">

        <input type="text" id="searchOrder" placeholder="ID (ORD-02102025-)">

        <select id="statusFilter">
            <option value="all">Order Status</option>
            <option value="Pending">Pending</option>
            <option value="Placed">Placed</option>
            <option value="Confirmed">Confirmed</option>
            <option value="Packed">Packed</option>
            <option value="Shipped">Shipped</option>
            <option value="OutForDelivery">Out for Delivery</option>
            <option value="Delivered">Delivered</option>
            <option value="Cancelled">Cancelled</option>
            <option value="Failed">Failed</option>
            <option value="Returned">Returned</option>
        </select>

        <select id="paymentFilter">
            <option value="all">payment Status</option>
            <option value="Pending">Pending</option>
            <option value="Paid">Paid</option>
            <option value="Refunded">Refunded</option>
        </select>

        <input type="date" id="fromDate">
        <input type="date" id="toDate">

        <button class="btn-apply" id="applyFilter" onclick="loadFilter()"><i class="fa-solid fa-filter"></i> Apply</button>
        <button class="btn-clear" id="clearFilter" onclick="clearFilter()">Clear</button>

    </div>

    <!-- Table -->
    <div class="table-wrapper">

        <table>

            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Customer</th>
                    <th>Date</th>
                    <th>Update At</th>
                    <th>Status</th>
                    <th>Total</th>
                    <th>Items</th>
                    <th>Payment</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody id="orderTableBody">
                <!-- JS will load rows -->
            </tbody>

        </table>

    </div>

    
    <!-- Pagination -->     
    <div class="pagination">

    </div>
</div>