<div class="users-page">

  <div class="page-header">
    <h2>Users</h2>
    <p class="subtext">View and manage all registered users.</p>
  </div>

  <div class="users-card">

    <div>

      <!-- FILTER BAR -->
      <div class="filter-bar">

        <input id="filterInput" class="search-users" name="searchContent" placeholder="Search users...">

        <div class="custom-dropdown">
          <div class="dropdown-selected">All Users</div>
          <ul class="dropdown-options">
            <li data-value="all">All Users</li>
            <li data-value="active">Active Users</li>
            <li data-value="blocked">Blocked Users</li>
          </ul>

        </div>
        <input type="hidden" id="statusFilter" name="userStatus" value="all">

        <button class="apply-btn" type="button">Apply</button>

        <button id="clearFilter" type="button" class="clear-btn">Clear</button>

    </div>

  </div>

  <table class="users-table">
    <thead>
      <tr>
        <th>User</th>
        <th>Contact</th>
        <th>Orders</th>
        <th>Total Spent</th>
        <th>Join Date</th>
        <th>Updated Date</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody id="usersTableBody">
    </tbody>
  </table>

  <!-- PAGINATION -->
  <div class="pagination">
  </div>



</div>
</div>

<!-- CONFIRM MODAL -->
<div id="confirmModal" class="modal">
  <div class="modal-content">
    <h3 id="modalTitle">Confirm Action</h3>
    <p id="modalMessage">Are you sure?</p>

    <div class="modal-buttons">
      <button id="cancelBtn" class="cancel-btn">Cancel</button>
      <button id="confirmBtn" type="button" class="confirm-btn">Yes, Continue</button>
    </div>
  </div>
</div>
