/* Container */
.order-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

/* Card */
.order-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;

  padding: 16px 20px;

  transition: box-shadow 0.2s ease;
}

.order-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

/* Left Side */
.order-left h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}

.order-date {
  font-size: 13px;
  color: #6b7280;
}

.order-items {
  font-size: 14px;
  font-weight: 500;
  margin-top: 4px;
}

/* Right Side */
.order-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 6px;
}

/* Status Badge */
.status {
  font-size: 12px;
  font-weight: 600;

  padding: 4px 10px;
  border-radius: 20px;
}

/* Delivered */
.status-delivered {
  background: #dcfce7;
  color: #166534;
}

/* In Transit */
.status-Placed {
  background: #fef9c3; /* light yellow */
  color: #854d0e;      /* dark golden brown */
}

/* Cancelled */
.status-Cancelled {
  background: #fee2e2; /* light red / pink */
  color: #991b1b;      /* deep red */
}

/* Link */
.order-link {
  font-size: 13px;
  color: #2563eb;
  text-decoration: none;
  font-weight: 500;
}

.order-link:hover {
  text-decoration: underline;
}

/* ======================
   Mobile Responsive
====================== */

@media (max-width: 640px) {
  .order-card {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .order-right {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.pagination-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 20px;
  /* border-top: 1px solid #e5e7eb; */
  width: 100%;
  box-sizing: border-box;
}

#paginationInfo {
  font-size: 0.85rem;
  color: #6b7280;
}

.pagination-btns {
  display: flex;
  align-items: center;
  gap: 10px;
}

.arrow-btn {
  width: 34px;
  height: 34px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  background: #f9fafb;
  color: #374151;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-btn:hover {
  background: #f3f4f6;
  border-color: #d1d5db;
}

.current-page-display {
  min-width: 34px;
  height: 34px;
  border-radius: 8px;
  background: #000000;
  color: #fff;
  font-size: 0.85rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-page{
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
