/* Orders Section */

.orders-container {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

/* Header */

.orders-header h2 {
  margin: 0;
  font-size: 22px;
}

.orders-header p {
  margin: 5px 0 20px;
  color: #666;
  font-size: 14px;
}

/* Filters */

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.filters input,
.filters select {
  padding: 8px 10px;
  border: 1px solid #ddd;
  width: 150px;
  border-radius: 6px;
  font-size: 14px;
}

.filters button {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

/* Buttons */

.btn-apply {
  background: #111827;
  color: #fff;
}

.btn-clear {
  background: #f1f1f1;
  color: #333;
}

/* Table */

.table-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  min-width: 900px;
}

thead {
  background: #f9fafb;
}

th,
td {
  text-align: left;
  padding: 12px 10px;
  font-size: 14px;
  border-bottom: 1px solid #eee;
  white-space: nowrap;
}

th {
  color: #555;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
}

/* Status */

.status {
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
  display: inline-block;
}

.status-Pending {
  background: #fef9c3;
  color: #854d0e;
}

.status-Placed {
  background: #dbeafe;
  color: #1e40af;
}

.status-Confirmed {
  background: #e0f2fe;
  color: #0c4a6e;
}

.status-Packed {
  background: #ede9fe;
  color: #5b21b6;
}

.status-Shipped {
  background: #fce7f3;
  color: #9d174d;
}

.status-OutForDelivery {
  background: #ffedd5;
  color: #9a3412;
}

.status-Delivered {
  background: #dcfce7;
  color: #166534;
}

.status-Failed {
  background: #fee2e2;
  color: #991b1b;
}

.status-Cancelled {
  background: #f3f4f6;
  color: #374151;
}

.status-Returned {
  background: #fef3c7;
  color: #92400e;
}


/* Payment */

.payment {
  background: #e0edff;
  color: #2563eb;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
}

/* Action */

.action-link {
  color: #2563eb;
  text-decoration: none;
  font-weight: 500;
}

.action-link:hover {
  text-decoration: underline;
}

/* Pagination */

.pagination {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.arrow-btn {
  width: 38px;
  height: 38px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #f7f7f7;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.current-page-display {
  background: #000;
  color: #fff;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
}


/* Responsive */

@media (max-width: 768px) {

  .filters {
    flex-direction: column;
    align-items: stretch;
  }

}